@font-face {
    font-family: 'inter';
    src: url('./font/font1/static/Inter_18pt-SemiBold.ttf');
}
@font-face {
    font-family: 'inter_bold';
    src: url('./font/font1/static/Inter_24pt-Bold.ttf');
}
@font-face {
    font-family: 'bangers';
    src: url('./font/font2/Bangers/Bangers-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-grp{
    padding: 40px 80px;
    background-color: rgb(10 10 10 );
    display: flex;
    justify-content: space-between;
    align-items: center;
     position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
   
}
.menu_icon_div{
    width: 40px;
    height: 40px;
    display: none;
}
.logo_div{
    font-family: 'bangers';
    color: #DC2626;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    transform: rotate(-5deg);
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.logoX{
    --tw-text-opacity: 1;
    color: rgb(16 185 129 / var(--tw-text-opacity, 1));
}



.main_menu ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;

}

.main_menu ul li a{
    text-decoration: none;
    font-family: 'inter';
    color: white;
    font-size: 18px;
}
.main_menu ul li a:hover{
    color: rgb(200, 0, 0);
}
.icon-header{
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
}
.search_icon,.account_icon,.cart_icon{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search_icon img,.account_icon img,.cart_icon img{
transition: all 0.3s ease;


}

.search_icon::after,.account_icon::after,.cart_icon::after{
     content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(200, 0, 0,0.3);
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    border-radius: 10px;
}

.search_icon:hover::after,.account_icon:hover::after,.cart_icon:hover::after{
    opacity: 1;
}

/* slide section*/

.section_slide{
    max-width: 1600px;
    margin: 0 auto ;
    max-height:1100px ;
}
.glide{
    width: 100%;
    height: 1000px;
}
.glide__track{
    width: 100%;
    height: 100%;
}
.glide__slides{
    width: 100%;
    height: 100%;
}
.glide__slide{
    width: 100%;
    height: 100%;
}
.img_glide{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_glide::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: 0.3s ease;
    pointer-events: none;
    
}
.glide_div{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_glide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glide_div_div{
position: absolute;
left: 0px;
top: 25%;
margin: 0px 80px;
}
.glide_div_div h3{
    font-family: 'bangers';
    font-size: 24px;
    color: #DC2626;
    margin-bottom: 16px;
}
.glide_div_div  h1{
    font-family: 'inter_bold';
    font-size: 96px;
    color: white;
    margin-bottom: 16px;
    line-height: 96px;
}

.glide_div_div h1 span{
    color: #DC2626;
}
.glide_div_div h1 .spanx{
    color: rgb(16 185 129);
    text-shadow: 0 0 10px #10B981, 0 0 20px #10B981, 0 0 30px #10B981;
}
.glide_div_div p{
     font-family: 'inter_bold';
    font-size: 20px;
    color: rgb(82 82 82 );
    margin-bottom: 32px;
    line-height: 20px;
}
.slide_btn{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;

}
.shop{
    padding: 16px 32px;
    background-color: #DC2626;
    color: white;
    font-family: 'inter';
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.shop:hover{
   transform: scale(1.1);
}
.watch{
    padding: 16px 32px;
    background-color: black;
    color: white;
    font-family: 'inter';
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
}
.watch:hover{
    transform: scale(1.1);
}

.glide__bullet{
    width: 20px; 
    height: 20px;
        margin: 0 0.5em;
}
.glide__bullet:hover{
    border: #DC2626;
    background-color: #DC2626;
}
.glide__bullet--active {
    background-color: #DC2626;
}

/* product section*/


.product_section{
    max-width: 1600px;
    margin: 0px auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
    padding: 40px 80px;
}
.product_head div{
    max-width: 672px;
}
.product_head div h2{
    font-family: "bangers";
    font-size: 60px;
    line-height: 60px;
    color: #DC2626;
    text-align: center;
    margin-bottom: 16px;
}
.product_head div h2 span{
    color: rgb(16 185 129 );
    text-shadow: 0 0 10px #10B981, 0 0 20px #10B981, 0 0 30px #10B981;
}
.product_head div p{
    color: rgb(82 82 82 );
    font-size: 20px;
    text-align: center;
    font-family: "inter";
}
.btns_product{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
}
.btns_product button{
    font-family: "inter";
    font-size: 16px;
    color: rgb(82 82 82 );
    background-color: hsl(210 ,40% ,4%);
    padding: 10px 24px;
    border: 1px solid rgb(82 82 82 );
    border-radius: calc(0.5rem - 2px);
}
.btns_product .active{
    color: white;
    border-color: #DC2626;
    background-color: #DC2626;
}


@media (max-width:1450px) {
    .header-grp{
        padding: 30px 60px;
    }
    .glide{
    height: 700px;
    }
       .img_glide img{
    object-fit:cover ;
    
}
    .glide_div_div{
        margin: 0px 60px;
    }
}
@media (max-width:1250px) {
    .header-grp{
        padding: 30px 40px;
        position: relative;
    }
    .glide_div_div{
        margin: 0px 40px;
    }
    .product_head div h2{
        font-size: 50px;
        line-height: 50px;
    }
    .product_head div p{
        font-size: 18px;
        line-height: 18px;
    }
 
}
@media (max-width:990px) {
    .header-grp{
        padding: 20px;
    }
    .glide_div_div{
        margin: 0px 20px;
    }
    .main_menu{
        position: absolute;
        left: 0px;
        top: 100px;
        width: 0vw;
        background-color: rgb(10 10 10 );
        transition: all 0.3s ease-in-out;
        overflow: hidden
    }
    .main_menu ul{
        flex-direction: column;
        padding: 40px;
        padding-left: 20px;
        align-items: start;
        row-gap: 40px;
        
    }
    .menu_icon_div{
        
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
    .menu_icon_div::after{
         content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(200, 0, 0,0.3);
    opacity: 0;
    transition: 0.3s ease;
    pointer-events: none;
    border-radius: 10px;
    }
    .menu_icon_div:hover::after{
        opacity: 1;
    }
    .close{
        display: none;
    }
    .main_menu ul li a{
        white-space: nowrap;
    }

    .glide_div_div h1{
        font-size: 76px;
        line-height: 76px;
    }

    .btns_product button{
        font-size: 14px;
        line-height: 14px;
        padding: 8px 20px;
    }

    .btns_product{
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: center;
    }
}
@media (max-width:750px) {
    .glide_div_div{
        top: 12%;
    }
     .glide_div_div h1{
        font-size: 56px;
        line-height: 56px;
    }
    .glide_div_div h3{
        font-size: 22px;
        line-height: 22px;
    }
    .glide_div_div p{
        font-size: 18px;
        line-height: 18px;
    }
    .slide_btn a{
        font-size: 12px;
        padding: 12px 28px;
    }
    .glide{
        height: 482px;
    }
    .glide__bullet{
        width: 15px; 
        height: 15px;
    }
     .product_head div h2{
        font-size: 40px;
        line-height: 40px;
    }
    .product_head div p{
        font-size: 16px;
        line-height: 16px;
    }
    .product_head div {
        margin-bottom: 40px;
    }
}

@media (max-width:650px) {
    .icon-header{
        column-gap: 10px;
    }
    .menu_icon_div{
            width: 30px;
            height: 30px;
    }
    .header-grp{
        padding: 20px 10px;
    }
    .main_menu{
        top: 80px;
    }
    .main_menu ul li a{
        font-size: 14px;
    }

    .glide_div_div{
        margin: 0px 10px;
    }
    
}

@media (max-width:450px) {
    .cart_icon{
        display: none;
    }
    .glide_div_div h1{
        font-size: 36px;
        line-height: 36px;
    }
    .glide_div_div h3{
        font-size: 18px;
        line-height: 18px;
    }
    .glide_div_div p{
        font-size: 14px;
        line-height: 14px;
    }
   
    .slide_btn a{
       
        font-size: 12px;
        padding: 10px 20px;
    }
    .glide{
        height: 382px;
    }

    .glide__bullet{
        width: 10px;
        height: 10px;
    }

     .product_head div h2{
        font-size: 32px;
        line-height: 32px;
    }
    .product_head div p{
        font-size: 14px;
        line-height: 14px;
    }
    .btns_product button{
        font-size: 12px;
        line-height: 12px;
        padding: 8px 18px;
    }

}





